<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <h1>login/signup  success full...</h1>
    <h2>welcome <%=Name%> </h2>
    <h2>ypur name email is <%=Email%> and passsword id <%=Password%></h2>

    <script src="../index.js"></script>
</body>
</html>